body{
    background-color: black;
}
.container4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.item4 {
    background-color: rgb(112, 133, 29);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.item5 {
    background-color: rgb(21, 99, 130);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container6 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.item6 {
    background-color: rgb(19, 113, 54);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container7 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.item7 {
    background-color: rgb(113, 19, 105);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.item8 {
    background-color: rgb(19, 113, 54);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container9 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  margin-top: 10%;
}
.item9 {
    background-color: rgb(19, 79, 113);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container10 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.item10 {
    background-color: rgb(28, 19, 113);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container11 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.item11 {
    background-color: rgb(41, 19, 113);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container12 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.item12 {
    background-color: rgb(19, 113, 54);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container13 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.item13 {
    background-color: rgb(19, 113, 54);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container14 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.item14 {
    background-color: rgb(113, 19, 36);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container15 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.item15 {
    background-color: rgb(113, 19, 19);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}