.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;
  height: 100vh;
  gap: 10px;
}
.item {
    background-color: black;
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;
  height: 100vh;
  gap: 10px;
}
.item1 {
    background-color: black;
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;
  height: 100vh;
  gap: 10px;
}
.item2 {
    background-color: black;
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}