.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.item {
    background-color: black;
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item1 {
    background-color: rgb(129, 32, 32);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.item2 {
    background-color: rgb(17, 59, 105);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item3 {
    background-color: rgb(87, 17, 105);
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}