.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  gap: 20px;
}
.item {
    background-color: black;
  padding: 20px, white;
  color: white;
  width: 250px;
  height: 250px;
}